<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AdministradorCreateDlg" widgetVar="AdministradorCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateAdministradorTitle}">
            <h:form id="AdministradorCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{administradorController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateAdministradorLabel_id}" for="id" />
                        <p:inputText id="id" value="#{administradorController.selected.id}" title="#{bundle.CreateAdministradorTitle_id}" required="true" requiredMessage="#{bundle.CreateAdministradorRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateAdministradorLabel_codigo}" for="codigo" />
                        <p:inputText id="codigo" value="#{administradorController.selected.codigo}" title="#{bundle.CreateAdministradorTitle_codigo}" />
                        <p:outputLabel value="#{bundle.CreateAdministradorLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{administradorController.selected.nombre}" title="#{bundle.CreateAdministradorTitle_nombre}" />
                        <p:outputLabel value="#{bundle.CreateAdministradorLabel_codTpId}" for="codTpId" />
                        <p:inputText id="codTpId" value="#{administradorController.selected.codTpId}" title="#{bundle.CreateAdministradorTitle_codTpId}" />
                        <p:outputLabel value="#{bundle.CreateAdministradorLabel_nroId}" for="nroId" />
                        <p:inputText id="nroId" value="#{administradorController.selected.nroId}" title="#{bundle.CreateAdministradorTitle_nroId}" />
                        <p:outputLabel value="#{bundle.CreateAdministradorLabel_naturaleza}" for="naturaleza" />
                        <p:inputText id="naturaleza" value="#{administradorController.selected.naturaleza}" title="#{bundle.CreateAdministradorTitle_naturaleza}" />
                        <p:outputLabel value="#{bundle.CreateAdministradorLabel_multipleArp}" for="multipleArp" />
                        <p:inputText id="multipleArp" value="#{administradorController.selected.multipleArp}" title="#{bundle.CreateAdministradorTitle_multipleArp}" />
                        <p:outputLabel value="#{bundle.CreateAdministradorLabel_fsp}" for="fsp" />
                        <p:inputText id="fsp" value="#{administradorController.selected.fsp}" title="#{bundle.CreateAdministradorTitle_fsp}" />
                        <p:outputLabel value="#{bundle.CreateAdministradorLabel_fusionada}" for="fusionada" />
                        <p:inputText id="fusionada" value="#{administradorController.selected.fusionada}" title="#{bundle.CreateAdministradorTitle_fusionada}" />
                        <p:outputLabel value="#{bundle.CreateAdministradorLabel_fechaFusion}" for="fechaFusion" />
                        <p:calendar id="fechaFusion" pattern="MM/dd/yyyy" value="#{administradorController.selected.fechaFusion}" title="#{bundle.EditAdministradorTitle_fechaFusion}"  showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{administradorController.create}" value="#{bundle.Save}" update="display,:AdministradorListForm:datalist,:growl" oncomplete="handleSubmit(args,'AdministradorCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AdministradorCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
