<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AdministradorEditDlg" widgetVar="AdministradorEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditAdministradorTitle}">
            <h:form id="AdministradorEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{administradorController.selected != null}">
                        <p:outputLabel value="#{bundle.EditAdministradorLabel_id}" for="id" />
                        <p:inputText id="id" value="#{administradorController.selected.id}" title="#{bundle.EditAdministradorTitle_id}" required="true" requiredMessage="#{bundle.EditAdministradorRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditAdministradorLabel_codigo}" for="codigo" />
                        <p:inputText id="codigo" value="#{administradorController.selected.codigo}" title="#{bundle.EditAdministradorTitle_codigo}" />
                        <p:outputLabel value="#{bundle.EditAdministradorLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{administradorController.selected.nombre}" title="#{bundle.EditAdministradorTitle_nombre}" />
                        <p:outputLabel value="#{bundle.EditAdministradorLabel_codTpId}" for="codTpId" />
                        <p:inputText id="codTpId" value="#{administradorController.selected.codTpId}" title="#{bundle.EditAdministradorTitle_codTpId}" />
                        <p:outputLabel value="#{bundle.EditAdministradorLabel_nroId}" for="nroId" />
                        <p:inputText id="nroId" value="#{administradorController.selected.nroId}" title="#{bundle.EditAdministradorTitle_nroId}" />
                        <p:outputLabel value="#{bundle.EditAdministradorLabel_naturaleza}" for="naturaleza" />
                        <p:inputText id="naturaleza" value="#{administradorController.selected.naturaleza}" title="#{bundle.EditAdministradorTitle_naturaleza}" />
                        <p:outputLabel value="#{bundle.EditAdministradorLabel_multipleArp}" for="multipleArp" />
                        <p:inputText id="multipleArp" value="#{administradorController.selected.multipleArp}" title="#{bundle.EditAdministradorTitle_multipleArp}" />
                        <p:outputLabel value="#{bundle.EditAdministradorLabel_fsp}" for="fsp" />
                        <p:inputText id="fsp" value="#{administradorController.selected.fsp}" title="#{bundle.EditAdministradorTitle_fsp}" />
                        <p:outputLabel value="#{bundle.EditAdministradorLabel_fusionada}" for="fusionada" />
                        <p:inputText id="fusionada" value="#{administradorController.selected.fusionada}" title="#{bundle.EditAdministradorTitle_fusionada}" />
                        <p:outputLabel value="#{bundle.EditAdministradorLabel_fechaFusion}" for="fechaFusion" />
                        <p:calendar id="fechaFusion" pattern="MM/dd/yyyy" value="#{administradorController.selected.fechaFusion}" title="#{bundle.EditAdministradorTitle_fechaFusion}"  showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{administradorController.update}" value="#{bundle.Save}" update="display,:AdministradorListForm:datalist,:growl" oncomplete="handleSubmit(args, 'AdministradorEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AdministradorEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
