<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListAdministradorTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="AdministradorListForm">
                <p:panel header="#{bundle.ListAdministradorTitle}">
                    <p:dataTable id="datalist" value="#{administradorController.items}" var="item"
                                 selectionMode="single" selection="#{administradorController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdministradorTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column style="width:70px;text-align: center" filterBy="#{item.codigo}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdministradorTitle_codigo}"/>
                            </f:facet>
                            <h:outputText value="#{item.codigo}"/>
                        </p:column>
                        <p:column style="width:70px;text-align: center" filterBy="#{item.nombre}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdministradorTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </p:column>

                        <p:column style="width:70px;text-align: center" filterBy="#{item.codTpId}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdministradorTitle_codTpId}"/>
                            </f:facet>
                            <h:outputText value="#{item.codTpId}"/>
                        </p:column>
                       
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdministradorTitle_nroId}"/>
                            </f:facet>
                            <h:outputText value="#{item.nroId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdministradorTitle_naturaleza}"/>
                            </f:facet>
                            <h:outputText value="#{item.naturaleza}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdministradorTitle_multipleArp}"/>
                            </f:facet>
                            <h:outputText value="#{item.multipleArp}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdministradorTitle_fsp}"/>
                            </f:facet>
                            <h:outputText value="#{item.fsp}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdministradorTitle_fusionada}"/>
                            </f:facet>
                            <h:outputText value="#{item.fusionada}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdministradorTitle_fechaFusion}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaFusion}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>

                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
