<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AdministradorViewDlg" widgetVar="AdministradorViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAdministradorTitle}">
            <h:form id="AdministradorViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{administradorController.selected != null}">
                        <h:outputText value="#{bundle.ViewAdministradorLabel_id}"/>
                        <h:outputText value="#{administradorController.selected.id}" title="#{bundle.ViewAdministradorTitle_id}"/>
                        <h:outputText value="#{bundle.ViewAdministradorLabel_codigo}"/>
                        <h:outputText value="#{administradorController.selected.codigo}" title="#{bundle.ViewAdministradorTitle_codigo}"/>
                        <h:outputText value="#{bundle.ViewAdministradorLabel_nombre}"/>
                        <h:outputText value="#{administradorController.selected.nombre}" title="#{bundle.ViewAdministradorTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewAdministradorLabel_codTpId}"/>
                        <h:outputText value="#{administradorController.selected.codTpId}" title="#{bundle.ViewAdministradorTitle_codTpId}"/>
                        <h:outputText value="#{bundle.ViewAdministradorLabel_nroId}"/>
                        <h:outputText value="#{administradorController.selected.nroId}" title="#{bundle.ViewAdministradorTitle_nroId}"/>
                        <h:outputText value="#{bundle.ViewAdministradorLabel_naturaleza}"/>
                        <h:outputText value="#{administradorController.selected.naturaleza}" title="#{bundle.ViewAdministradorTitle_naturaleza}"/>
                        <h:outputText value="#{bundle.ViewAdministradorLabel_multipleArp}"/>
                        <h:outputText value="#{administradorController.selected.multipleArp}" title="#{bundle.ViewAdministradorTitle_multipleArp}"/>
                        <h:outputText value="#{bundle.ViewAdministradorLabel_fsp}"/>
                        <h:outputText value="#{administradorController.selected.fsp}" title="#{bundle.ViewAdministradorTitle_fsp}"/>
                        <h:outputText value="#{bundle.ViewAdministradorLabel_fusionada}"/>
                        <h:outputText value="#{administradorController.selected.fusionada}" title="#{bundle.ViewAdministradorTitle_fusionada}"/>
                        <h:outputText value="#{bundle.ViewAdministradorLabel_fechaFusion}"/>
                        <h:outputText value="#{administradorController.selected.fechaFusion}" title="#{bundle.ViewAdministradorTitle_fechaFusion}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AdministradorViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
