<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>..::Cargue Documento::..</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        <center><br/><br/><br/><br/>
            <h:form id="formcargadoc" enctype="multipart/form-data">
                <h:panelGrid columns="2">

                    <p:outputLabel value="#{bundle.documento}"/>
                    <p:fileUpload validatorMessage="#{bundle.msj_validacion_documento}" rendered="true" id="cargardocum" mode="simple" value="#{cargarDocBean.doc_carga}" 
                                  allowTypes="/(\.|\/)(txt|in)$/" />
                </h:panelGrid>

                <p:commandButton  process="formcargadoc,datalistlog" value="#{bundle.btn_almacenar}" action="#{cargarDocBean.cargarDocumento()}" ajax="false"/>

                <p:messages id="messages"  autoUpdate="true" closable="true" />

             

            </h:form>




        </center>
        <h:link outcome="/administrador/List" value="Listar Lo guardado"/>
    </h:body>


    <script type="text/javascript">
        function start() {
            PF('statusDialog').show();
        }

        function stop() {
            PF('statusDialog').hide();
        }
    </script>
</html>

